.panel {
    color: #FFFFFF;
}

.panel-heading {
    background-color: #616161;
    color: #FFFFFF
}

.login-panel {
    background-color: #616161;
}

input {
    background-color: #212121;
    color: #FFFFFF;
}

.panel,
input,
.panel-heading {
    border: none;
}

.btn {
    background-color: #212121;
    border: none;
    color: #FFFFFF;
}

.view-task {
    background-color: #616161;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
}

.list-group, .list-group-item {
    background-color: #616161;
    border: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}