.navbar-fixed-left {
    height: 100%;
}

.navbar-fixed-left .navbar-nav>li {
    width: 100%;
}


/* On using dropdown menu (To right shift popuped) */

.navbar-fixed-left .navbar-nav>li>.dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
}

#new-project-btn {}


/*
.btn {
    background-color: #424242;
    border: none;
    color: #FFFFFF;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #FFFFFF
}
*/