#top-nav {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

#search-bar {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}


/*SEARCH FORM*/

.search-form {
    border-radius: 30px 0px 0px 30px;
}

.search-btn {
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
}