<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Saturn</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest Fontawesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <!-- Left Nav -->
  <div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand" href="#">Brand</a><br>
  <ul class="nav navbar-nav">
   <li><a href="#">Dashboard</a></li>
   <li><span class="navbar-text">Projects
     <button type="button" class="btn btn-default btn-xs">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
     </button>
     </span>
    </li>
   <div class="nav navbar-nav" id="project-menu">
   <li><a href="#">Project1</a></li>
   <li><a href="#">Project2</a></li>
   </div>
  </ul>
</div>
<!-- Top Nav -->
<nav class="navbar navbar-light" style="background-color: #f4f1f0" id="top-nav">
  <div class="input-group" id="search-bar">
    <input type="text" class="form-control search-form" placeholder="Search" id="search-box">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-danger search-btn" data-target="#search-form" name="q">
        <i class="fa fa-search"></i>
			</button>
    </span>  
  </div>
</nav>
<!-- Main Page -->
<div class="container">
<h1>My Dashboard</h1>
</div>

  </body>
</html>
